<div class="aside-inner">
    <h3 class="title_dashboard">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> Dashboard </span>  
    </h3>
    <ul class="nav nav-list" id="menu" metis-menu="">
        <li>
            <a href="" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">Content</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" >
                <li class="">
                    <a href="#1">
                        <span> Story</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Add New
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Live
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Draft
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Archive
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="">
                    <a href="#2">
                        <span>Category</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a> 
                    <ul class="submenu">
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Add New
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Live
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Draft
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Archive
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#3">
                        <span>Video</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a> 
                    <ul class="submenu">
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                <span>Assets</span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Live
                                    </a>
                                </li>
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Draft
                                    </a>
                                </li>
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Archive
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                <span>Clips</span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Live
                                    </a>
                                </li>
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Draft
                                    </a>
                                </li>
                                <li>
                                    <a href="#1">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        List Archive
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Upload
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Create VAST Ad Tag
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#4">
                        Link +
                    </a> 
                </li>

            </ul>
        </li>
        <li>
            <a href="#5" class="dropdown-toggle">
                <i class="menu-icon fa fa-magic"></i>
                <span class="menu-text">Features</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" >
                <li class="">
                    <a href="#1">
                        <span>Ad Media Library</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Add New
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List All
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#1">
                        <span>Forms</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Live
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Draft
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                <i class="menu-icon fa fa-caret-right"></i>
                                List Archive
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#/image/library"> Image Library</a>
                </li>
                <li class="">
                    <a href="#1"> Polls</a>
                </li>
                <li class="">
                    <a href="#1"> Utility Blocks</a>
                </li>
                <li class="">
                    <a href="#1"> Weather</a>
                </li>
                <li class="">
                    <a href="#1"> Widgets</a>
                </li>
                <li class="">
                    <a href="#1"> Menu</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="dropdown-toggle">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text">Admin</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a href="#1"> Publishers</a>
                </li>
                <li class="">
                    <a href="#1"> Reporting</a>
                </li>
                <li class="">
                    <a href="#1"> Rules</a>
                </li>
                <li class="">
                    <a href="#1"> Sharing Admin</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="">
                <i class="menu-icon fa fa-bullhorn"></i>
                <span class="menu-text">Help</span>
            </a>
        </li>
        
        <li>
            <a href="" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text">Setting</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a href="#/change-password"> Change password</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="" ng-click="logout();">
                <i class="menu-icon fa fa-power-off"></i>
                <span class="menu-text">Logout</span>
            </a>
        </li>
    </ul>
</div>